# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods / Carthage
Pods/
Carthage/Build/

# Supabase
supabase/.temp/
supabase/.branches/

# Secrets
.env
.env.local

# macOS
.DS_Store
